<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Автозапчасти</title>
        
        <link rel="icon" href="/images/mainLogo.jpg" />
        <link rel="stylesheet" href="/css/my_purchases.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <link rel="stylesheet" href="/css/footer.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/2a66bc2625.js" crossorigin="anonymous";></script>
    </head>
    <body>
        
        <header id="home_navbar"></header>

        <main id="main_content"><img id="loader" src="/images/output-onlinegiftools.gif" alt="loading"></main>

        <footer id="footer"></footer>


        
        <script src="/scripts/navbar.js" type="module"></script>
        <script src="/scripts/footer.js" type="module"></script>
        <script src="/scripts/my_purchases.js" type="module"></script>
    </body>
</html>
